{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      "off"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "class-methods-use-this": [
      "off"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "import/prefer-default-export": [
      "off"
    ],
    "no-use-before-define": [
      "off"
    ],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true
        }
      }
    ],
    "valid-jsdoc": [
      "error",
      {
        "requireReturnDescription": true,
        "requireParamDescription": true,
        "requireReturnType": true,
        "prefer": {
          "arg": "param",
          "argument": "param",
          "class": "constructor",
          "return": "returns",
          "virtual": "abstract"
        }
      }
    ]
  }
}
